<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573611467302-sno9e8p41k0r8ntuse4r5507da8a937r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573611467302-sno9e8p41k0r8ntuse4r5507da8a937r</string>
	<key>API_KEY</key>
	<string>AIzaSyD2sJqU6tADADq0ti1OdOgvhtURdbV7KQE</string>
	<key>GCM_SENDER_ID</key>
	<string>573611467302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>training.app.trainingNoteApp</string>
	<key>PROJECT_ID</key>
	<string>training-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>training-note-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573611467302:ios:71f4bda2ed9f19a0547ce7</string>
</dict>
</plist>